body {
	font-size: 16px;
	font-family: "Roboto", Verdana, sans-serif;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
    font-size: 0.8rem;
    text-align: center;
}
main p{
    font-family: 'roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

main section h2 {
	color: #536878;
}
main section h1 {
    color: #536878;
    font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
 
.colimage {
	box-shadow: 0 0 30px #333;
}


footer {font-style: italic;
    padding: 6px;
    line-height: 1.25em;
    text-align: center;}

    header {
        background-color: navy;
        color: white;
        border: solid black 3px;
        max-width: 600px;
        margin: 1.5rem auto;
        border-radius: 4px;
        text-align:center;
    }
    img {
        max-width: auto;
        align-items: center;
    }

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
